<%- include('partials/header') %>
<%- include('partials/homenavbar') %>
<body>
    <div class="container">
        <hr>
        <div class="jumbotron">
            <h1 class="display-4">Blog</h1>
            <p class="lead">Criado para aprendizagem</p>
            <hr class="my-4">
        </div>
        <hr>
        <% articles.forEach(article => { %>
            <div class="card">
                <div class="card-header">
                    <h2><%= article.title %></h2>
                </div>
                <div class="card-body">
                    <a href="<%= article.slug %>" class="btn btn-success">Ler artigo</a>
                </div>
            </div>
            <br>

       <% }) %>
       <div class="row">
           <div class="col col-12">
               <a href="/articles/page/2" style="float: right;"><button class="btn btn-success">Mais artigos</button></a>
           </div>
       </div>
       <br>
    </div>
</body>
<%- include('partials/footer') %>
